<!DOCTYPE html>
<html data-ng-app="adminDashboard">
<head>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<!-- AngularJS script -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.4.7/angular-cookies.js"></script>
	<script src = "../JS/admindashboard.js"></script>
	<link rel="stylesheet" href="../CSS/admindashboard.css" />
</head>
<body>

<header>
<nav>
<h2 align="center"><i><b>Learning Point</b></i></h2>
</nav>
</header>
<nav data-ng-controller="deleteStudentController" class="navbar navbar-default">
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a><button type="button" class="btn btn-primary"
									ng-click="logout()">Log Off</button> </a></li>
					</ul>
				</div>
			</nav>
<div class="container">

<div id="tabNames">
				<ul class="nav nav-pills" id="tabs">

					<li data-ng-class="{active:tab===1}" data-ng-init="tab=1"><a href
						data-ng-click="tab=1">Home</a></li>
					<li data-ng-class="{active:tab===2}"><a href
						data-ng-click="tab=2">Add Course</a></li>
					<li data-ng-class="{active:tab===3}"><a href
						data-ng-click="tab=3">Disable Course</a></li>
					<li data-ng-class="{active:tab===4}"><a href
						data-ng-click="tab=4">Delete Student</a></li>
				</ul>
</div>
<br>
<br>
<div data-ng-controller="deleteStudentController" data-ng-show="tab==1">

<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="page-header">
									<h3 align="center" style="color: maroon">Admin Dashboard</h3>
								</div>
								<img align="left" src="../images/admindashboard.jpg" class="img-responsive" alt="Responsive image">
								<button type="button" class="btn btn-primary pull-right" data-ng-click="viewCourses()">View Courses</button>
							</div>
						</div>
					</div>
				</div>

</div>

<div data-ng-controller = "addCourseController" data-ng-show="tab==2">

<div class="container">
    
<h3 align="center">Add New Course</h3>  
  <form name="courseForm">
<div class="row">
  <div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">
  <div class="page-header">
		<h4><b>Course Info</b></h4>
  </div>

    <div class="form-group">
    <label for="CourseName">Course Name</label>
    <input type="text" class="form-control" id="CourseName" placeholder="Course Name" data-ng-model="coursename" required>
  </div>
  <div class="form-group">
    <label for="Course Description">Course Description</label>
    <input type="text" class="form-control" id="Course Description" placeholder="Course Description" data-ng-model="coursedesc" required>
  </div>
  <div class="form-group">
    <label for="Course Amount">Course Amount</label>
    <input type="number" class="form-control" id="Course Amount" placeholder="Please enter a decimar number" data-ng-model="courseamount" ng-pattern="integerval" required>
  </div>

  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
<div class="panel panel-default">
  <div style="overflow-y: scroll; height:300px;" class="panel-body" >
  <div class="page-header">
		<h4><b>Choose Schedule</b></h4>
  </div>
  <table  id="schedule" class="table table-bordered"><tr><th>Start Date</th><th>End Date</th><th>Start Time</th><th>End Time</th><th>Days of Week</th><th>Select</th></tr>
  <tr data-ng-repeat="scheduleValues in schedules"><td>{{scheduleValues.startDate}}</td><td>{{scheduleValues.endDate}} </td><td>{{scheduleValues.startTime.split("-")[0]}}</td><td>{{scheduleValues.endTime.split("-")[0]}}</td>
  <td><div data-ng-repeat="days in scheduleValues.daysOfWeek">{{days}}</div></td>
  <td><input type="checkbox" value="{{scheduleValues.scheduleId}}" 
  ng-checked = "selectedSchedule.indexOf(scheduleValues.scheduleId) > -1" ng-click="toggleSelectionSchedule(scheduleValues.scheduleId)" ></td></tr>
  </table>
  </div>
</div>
</div>
</div>


<div class="row">
  <div class="col-md-12">
<div class="panel panel-default">
  <div style="overflow-y: scroll; height:300px;" class="panel-body">
  <div class="page-header">
		<h4><b>Choose Curriculum</b></h4>
  </div>
  
  <table id="curriculum" class="table table-bordered"><tr><th>TopicNames</th><th>Select</th></tr>
  <tr data-ng-repeat="curriculumValues in curriculum"><td>{{curriculumValues.topicName}}</td>
  <td><input type="checkbox" value="{{curriculumValues.curriculumId}}"
  ng-checked = "selectedCurriculum.indexOf(curriculumValues.curriculumId) > -1" ng-click="toggleSelectionCurriculum(curriculumValues.curriculumId)" ></td>
  </tr></table>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
  <div style="overflow-y: scroll; height:300px;" class="panel-body">
 <div class="page-header">
		<h4><b>Choose Books</b></h4>
  </div>
  
  <table id="book" class="table table-bordered"><tr><th>BookNames</th><th>Select</th></tr>
  <tr data-ng-repeat="bookValues in books"><td>{{bookValues.bookName}}</td><td><input type="checkbox" value="{{bookValues.bookID}}" 
  ng-checked = "selectedBooks.indexOf(bookValues.bookID) > -1" ng-click="toggleSelectionBooks(bookValues.bookID)" ></td></tr>
  </table>
 
  </div>
</div>
</div>
</div>

<!-- <div class="row">
 <div class="col-md-8" style="padding-top:10px">
 <button type="reset" style="padding-top:10px" class="btn btn-primary pull-right">Clear</button>
 </div>
 <div class="col-sm-2" style="padding-top:10px">
<button type="submit" style="padding-top:10px" class="btn btn-primary pull-right" data-ng-click="updateData()">Submit</button>
</div>
</div> -->

<button type="reset" class="btn btn-primary pull-right">Clear</button>
<button type="submit" class="btn btn-primary pull-right" data-ng-click="updateData()">Submit</button> 
</form>
</div>
</div>

<div data-ng-controller = "disableCourseController" data-ng-show="tab==3">
<div class="row">
  <div class="col-md-12">
<div class="panel panel-default">
  <div style="overflow-y: scroll; height:500px;" class="panel-body">
<table class="table table-bordered"><tr><th>Course Name</th><th>Course Description</th><th>Course Amount</th><th>Click</th></tr>
<tr data-ng-repeat="courses in courseList"><td>{{courses.courseName}}</td><td>{{courses.courseDesc}}</td><td>{{courses.courseAmount}}</td>
<td><button type="button" class="btn btn-danger" data-ng-click="disable(courses.courseId)">Disable</button></td></tr>
</table></div></div></div></div>
</div>

<div data-ng-controller="deleteStudentController" data-ng-show="tab==4">
<div class="alert alert-danger" role="alert">
	<b>{{message}} Here is the link to Student courses </b><a>{{link}}</a>
</div>
<div class="alert alert-success"  role="alert">
	<b>{{message}}</b>
</div>
<div class="row">
  <div class="col-md-12">
<div class="panel panel-default">
  <div style="overflow-y: scroll; height:500px;" class="panel-body">
 <table class="table table-bordered"><tr><th>Student Name</th><th>Email</th><th>Click</th></tr>
 <tr data-ng-repeat="students in studentList"><td>{{students.firstName}} {{students.lastName}}</td><td>{{students.emailId}}</td>
 <td><button type="button" class="btn btn-danger" data-ng-click="deleteStudent(students.studentId)">Delete</button></td></tr>
 </table>
  </div></div></div></div>
</div>

</div>
</body>
</html>